<html>

<head>

<style>

body{
	background-image: url(/assets/index2.jpg); 
}
</style>
</head>

<body>
<h2>welcome to the  home page</h2>
<strong style="font-size: 20px;"><%= link_to "Listing Page", static_pages_show_path %></strong>
<br><br>
<strong>copyright &copy <a href="http://www.andolasoft.com/" target="_blank"> Andolasoft</a></strong>


</body>
</html>