<h1><br/>Listing Users</h1>
<script>
  $(document).ready(function() {
    $('.datatable').dataTable();
  } );
</script>
<table id ="datatable">
  <thead>
    <tr>
      <th>Name</th>
      <th>Email</th>
      <th>Phone</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @users.each do |idea| %>
      <tr>
        <td><%= idea.name %></td>
        <td><%= idea.email %></td>
        <td><%= idea.phone %></td>
      
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<!--%= will_paginate @users %-->